/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.phar
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/estudos-laravel-jetstream.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
